body {
	width: 60%;
	margin: 50px auto;
	font-family: Arial, Verdana, sans-serif;
	background: url(../img/bg-detetive.png) no-repeat top left;
}

div#itens-crime-container .item-crime {
	display: inline-block;
	padding: 2px 10px;
	margin: 0px 5px 0px 5px;
	font-size: 16px;
}

div#itens-crime-container > div {
	display:block;
	border: 1px solid #000;
	padding: 16px;
	margin: 8px 0;
	background-color: #FFF;
}

div.selected-item {
	border-radius: 8px;
	background: #337AB7;
	color: #FFF;
}
